#colores{
    color: #252525;
    color: #3C69CD;
    color: #00C5AA;
    color: grey;
}

body{
    color: #252525 !important;
}

.navbar{
    min-height: 5rem;
}

.patyMenu{
    border: none !important;
    outline: none !important;
}

footer{
    background: #666;
    color: #111;
}

footer a{
    color: #111 !important;
}