#colores{
    color: #252525;
    color: #3C69CD;
    color: #00C5AA;
    color: grey;
}

body{
    color: #252525 !important;
}

.navbar{
    min-height: 5rem;
}

.navbar .navbar-brand{
    display: block;
    width: 5rem;
    height: 5rem;
    background: url("/img/logo.png") no-repeat center center;
    background-size: contain;
}

.navbar .navbar-brand h1{
    font-size: 0 !important;
}

.patyMenu{
    border: none !important;
    outline: none !important;
}

/* galeria */
/* galeria */
.galeria{
    width: 100%;
    overflow: hidden;
}

.galeria .row{
    flex-wrap: nowrap;
    overflow-x: auto;
}

.galeria .row > div{
    flex-basis: 300px;
    min-width: 300px;
    height: 300px;
}

.tz-gallery .empty-image{
    width: 100%;
    height: 300px;
    border-radius: .25rem;
    border: 2px solid var(--color-tres);
}

.tz-gallery .empty-image .empty-content{
    width: 100%;
    height: 100%;
    background: var(--color-tres);
}

#baguetteBox-overlay .full-image img{
    object-fit: cover !important;
    height: 400px !important;
    width: 100% !important;
    box-shadow: none;
}

.tz-gallery .lightbox img{
    height: 300px;
    object-fit: cover;
    background: white;
}

.load_gallery{
    background-color: var(--color-uno);
    border-radius: .5rem;
}

/* footer */

footer ul i{
    color: #2B88DD;
}

footer{
    background-color: #242424;
}

footer .redesSociales i{
    color: #7C7C7C;
}

.separacionFooter{
    border-color: #57C6AA;
}

.formContent h2{
    color: black;
}

@media(min-width: 1024px){
    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        transition: all .4s cubic-bezier(0.01, 0.49, 0.44, 1);
    }

    header a{
        transition: all .4s cubic-bezier(0.01, 0.49, 0.44, 1);
    }

    .bottom-menu{
        background: white;
        box-shadow: 0px .5px 5px 0px rgba(0,0,0,0.75);
        z-index: 100;
        transition: all .4s cubic-bezier(0.01, 0.49, 0.44, 1);
    }

    .bottom-menu:hover{
        background: white;
    }

    .top-top-menu{
        background: transparent;
    }

    .top-menu{
        background: transparent;
    }

    .top-top-menu a{
        color: white !important;
    }

    .top-menu a{
        color: transparent !important;
    }

    .bottom-menu a{
        color: black !important;
    }

    .headroom{
        transition: transform .3s ease;
      }
      
      .headroom--pinned{
        transform: translateY(0%);
      }
      
      .headroom--unpinned{
        transform: translateY(-100%);
      }

      footer a:hover{
        text-decoration: none; 
      }
}