.container-fluid{
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.parallax {
    background: url("/img/thanks.jpg") no-repeat center -20rem;
    min-height: 15rem;
    filter: brightness(60%);
}

.banner-info{
    top: 3rem;
    right: 0;
    left: 0;
    background-color:#e9ecef;
}

.banner-info h2{
    font-size: 1.8rem;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;

}

.banner-info p{
    display: block;
    position: relative;
    color: #242424 !important;
    padding: 2rem 0;
    text-align: left !important;
}

.banner-info p::after{
    content: "";
    position: absolute;
    top: 0;
    left: 3rem;
    right: 3rem;
    bottom: 0;
    border-bottom: 1px solid #242424;
}

.banner-contact{
    position: absolute;
    top: 8rem;
    margin-top: 2rem;
}

.banner-contact .btnContact{
    display: block;
    width: 8rem;
}

.btnContact,
.btnReturn{
    background:rgba(32, 101, 171);
    border: none;
    outline: none !important;
}

.btnContact:hover,
.btnReturn:hover{
    transition: 800ms;
    background-color:#2980d6;
    text-decoration: none;
}

@media(min-width: 768px){
    .parallax {
        min-height: 25rem;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    } 

    .banner-info{
        position: absolute;
        background: transparent;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .banner-info h2{
        top: 3rem;
    }
    
    .banner-info p{
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        text-align: center !important;
        color: white !important;
    }

    .banner-info p::after{
        border-bottom: none;
    }
    
    .banner-contact{
        top: 6rem;
        margin-top: 2rem;
    }
    
    .banner-contact .btnContact{
        width: 8rem;
        top: 8rem;
    }

    .btnContact{
        display: block;
        position: relative;
        bottom: 5rem;
    }    

    .gracias{
        min-height: 50vh;
    }

    .redesSociales{
        position: absolute;
        top: 60px;
        right: 0;
        font-size: 1.4rem;
    }
}

@media(min-width: 1024px){
    .parallax {
        min-height: 40rem;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    .banner-info h2{
        font-size: 4rem;
        top: 7rem;
    }

    .banner-info p{
        top: 12rem;
        font-size: 1.8rem;
    }

    .banner-contact{
        top: 13rem;
    }

    .banner-contact .btnContact{
        width: 12rem;
        height: 3.5rem;
        font-size: 1.7rem;
    }

    .gracias{
        min-height: 66vh;
    }
}

@media(min-width: 1200px){
    
    .banner-info p{
        top: 12rem;
        left: 18rem;
        right: 18rem;
        font-size: 1.8rem;
    }
    
}