.container-fluid{
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.patyMenu {
    cursor: pointer;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.banner{
    position: relative;
}

.banner img{
    filter: grayscale(100%) brightness(50%);
}

.banner h2{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    font-size: 1.8em;
}

.banner p{
    display: none;
}

.nuestros-servicios .card{
    border: none;
    padding: 5px;
    background: #f3f9fb;
	transition: all .4s cubic-bezier(0.01, 0.49, 0.44, 1);
}

.nuestros-servicios .card-body{
    background: #f3f9fb;
}

.nuestros-servicios .card .fa-angry,
.nuestros-servicios .card .fa-carrot{
    background: linear-gradient(to bottom, rgba(0,197,170,1) 0%, rgba(60,105,205,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.club h3{
    color: #3C69CD;
}

.club span{
    color: #00C5AA;
}

.club li{
    color: grey;
}

.club p{
    word-break: break-all;
}

.btnContact{
    background-color: #3C69CD;
    border: none;
    outline: none !important;
}

.btnContact:hover{
   background-color:#3C69CD !important;
}

/* .lista-solucion li, .lista-solucion span{
    color: #00C5AA;
} */

.lista-solucion li{
    font-weight: bold;
}

/* .el-club{
    color: #3D1616;  
} */

.el-equipo{
    background: #f3f9fb;
}

.el-equipo .card{
    border: none;
    padding: 5px;
    background: #f3f9fb;
	transition: all .4s cubic-bezier(0.01, 0.49, 0.44, 1);
}

.el-equipo .card-body{
    background: rgb(147, 204, 250);
    color: white;
}

/* form */

.contacto form input:focus{
    box-shadow: none;
    border-color: #3C69CD;
}

.contacto form textarea:focus{
    box-shadow: none;
    border-color: #3C69CD;
}

.enviarForm{
    background-color: #3C69CD;
    color: #fff;
    border: none;
    width: 8rem;
}

.enviarForm:hover{
    background-color: #00ffbf;
}

input::placeholder{
    color: #A4A4A4;
}

.btnContact{
    display: none;
}

/* footer */

footer ul i{
    color: #2B88DD;
}

footer{
    background-color: #242424;
}

footer .redesSociales i{
    color: #7C7C7C;
}

.separacionFooter{
    border-color: #57C6AA;
}

.formContent h2{
    color: black;
}

@media(min-width: 768px){

    .banner h2{
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        font-size: 2.5rem;
    }
    
    .banner p{
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }

    .primer-card .card-body{
        padding-bottom: 2.7rem !important;
    }

    .enviarForm{
        width: 10rem;
    }

    .redesSociales{
        position: absolute;
        top: 60px;
        right: 0;
        font-size: 1.4rem;
    }

    .btnContact{
        display: block;
        position: relative;
        bottom: 5rem;
    }
    
}

@media(min-width: 1024px){
    .banner img{
        object-fit: cover;
        width: 100%;
        height: 40rem;
    }

    .banner h2{
        font-size: 4rem;
    }

    .banner p{
        font-size: 1.8rem;
        padding: 0 10rem !important;
    }

    .nuestros-servicios .card:hover{
        background: linear-gradient(to bottom, rgba(0,197,170,1) 0%, rgba(60,105,205,1) 100%);
    }

    .formContent{
        background: url("/img/contact-page.jpg") no-repeat center center;
        padding: 0;
    }

    .formContent form{
        background-color: rgba(51, 153, 255, 0.5);
        margin-right: 5rem;
    }

    .formContent h2{
        color: #fff;
    }

    .btnContact{
        display: block;
        position: relative;
        bottom: 8rem;
    }

}