.container{
    font-family: 'Roboto', sans-serif;
}

.banner p{
    background-color: lightgray;
    color: grey;
    height: 500px;
    text-align: center;
    line-height: 500px;
    font-size: 3rem;
    width: 100vw;
    margin-left: 50%;
	transform: translateX(-50%);
}

/* .contacto h2,
.nuestros-servicios h2{
    color: #252525;
} */

.nuestros-servicios h3{
    color: #3C69CD;
}

.lista-servicios span{
    color: #00C5AA;
}

.lista-servicios li{
    color: grey;
}

.solucion-familias p{
    word-break: break-all;
}

.btnContact{
    background-color: #3C69CD;
    border: none;
    outline: none !important;
}

.btnContact:hover{
   background-color:#3C69CD !important;  
   border-color: none;
   outline: none !important;
}

/* .lista-solucion li, .lista-solucion span{
    color: #00C5AA;
} */

.lista-solucion li{
    font-weight: bold;
}

/* .el-club{
    color: #3D1616;  
} */

/* form */

.contacto form input:focus{
    box-shadow: none;
    border-color: #3C69CD;
}

.contacto form textarea:focus{
    box-shadow: none;
    border-color: #3C69CD;
}

.enviarForm{
    background-color: #3C69CD;
    color: #fff;
    border: none;
}

.enviarForm:hover{
    background-color: #00ffbf;
}

input::placeholder{
    color: #A4A4A4;
}


/* footer */

footer ul i{
    color: #2B88DD;
}

footer{
    background-color: #242424;
}

footer .redesSociales i{
    color: #7C7C7C;
}

.separacionFooter{
    border-color: #3C69CD;
}