.container-fluid{
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.patyMenu {
    cursor: pointer;
}
.contacto h2,
.nuestros-servicios h2{
    color: #5B5B72;
}

.nuestros-servicios h3{
    color: #EF6D63;
}

.lista-servicios span{
    color: #F17F76;
}

.lista-servicios li{
    color: #C5C6CE;
}

.solucion-familias p{
    word-break: break-all;
}

.btnContact{
    background-color: #57C6AA;
    border: none;
    outline: none !important;
}

.btnContact:hover{
   background-color:#57C6AA !important;  
   border-color: none;
   outline: none !important;
}

.lista-solucion li, .lista-solucion span{
    color: #3D1616;
}

.lista-solucion li{
    font-weight: bold;
}

.el-club{
    color: #3D1616;  
}

/* form */

.contacto form input:focus{
    box-shadow: none;
    border-color: #57C6AA;
}

.contacto form textarea:focus{
    box-shadow: none;
    border-color: #57C6AA;
}

.enviarForm{
    background-color: #57C6AA;
    color: #fff;
    border: none;
}

.enviarForm:hover{
    background-color: #00ffbf;
}

input::placeholder{
    color: #A4A4A4;
}


/* footer */

footer ul i{
    color: #2B88DD;
}

footer{
    background-color: #242424;
}

footer .redesSociales i{
    color: #7C7C7C;
}

.separacionFooter{
    border-color: #57C6AA;
}


@media(min-width: 768px){
    .enviarForm{
        width: 30%;
    }

    .redesSociales{
        position: absolute;
        top: 60px;
        right: 0;
        font-size: 1.4rem;
    }
}
